@import "../../style/vars";
@import "../../style/mixins";

.product-details-page {
  @include product-page;

  &__bread-crumbs {
    margin-bottom: 40px;
  }

  &__back {
    margin-bottom: 16px;
  }

  &__details {
    margin-bottom: 80px;
  }
}
