@import "../../style/vars";
@import "../../style/mixins";

.product-details-page {
  @include product-page;

  &__bread-crumbs {
    margin-bottom: 40px;
  }

  &__back-container {
    display: flex;
    align-items: center;

    font-family: $font-semibold;
    color: $color-secondary;

    margin-bottom: 16px;
  }

  &__back-arrow {
    margin-right: 4px;
  }

  &__back {
    padding-top: 1.5px;
    font-size: 12px;
    line-height: 12px;

    &:hover {
      color: $color-primary;
    }
  }

  &__details {
    margin-bottom: 80px;
  }
}
