@import "../../style/vars";
@import "../../style/mixins";

.favourites-page {
  @include product-page;

  &__bread-crumbs {
    margin-bottom: 40px;
  }

  &__title {
    @include title;

    margin-bottom: 8px;
  }

  &__caption {
    @include body-text;
    color: $color-secondary;

    margin-bottom: 40px;
  }

  &__content {
    display: flex;
  }
}
