@import "../../style/vars";
@import "../../style/mixins";

.colors {
  &__title {
    color: $color-secondary;
    @include small-text;

    margin-bottom: 8px;
  }

  &__list {
    display: flex;
  }

  &__item {
    height: 32px;
    width: 32px;

    border: 1px solid $color-elements;
    border-radius: 50%;
    padding: 2px;
    background-clip: content-box;

    &:not(:last-child) {
      margin-right: 8px;
    }

    &:not(&--active):hover {
      border-color: $color-icons;
    }

    &--active {
      border-color: $color-primary;
    }

    &--white {
      background-color: #fff;
    }

    &--black {
      background-color: #000;
    }

    &--gold {
      background-color: #fcdbc1;
    }

    &--rosegold {
      background-color: #f3b6b6;
    }

    &--silver {
      background-color: #c0c0c0;
    }

    &--spacegray {
      background-color: #717378;
    }

    &--red {
      background-color: #811717;
    }

    &--yellow {
      background-color: #f0cf5b;
    }

    &--coral {
      background-color: #e4664f;
    }

    &--green {
      background-color: #aee1cd;
    }

    &--purple {
      background-color: #d1cdda;
    }

    &--midnightgreen {
      background-color: #4e5851;
    }
  }
  
  &__link {
    display: block;
    width: 100%;
    height: 100%;
  }
}
