@import "../../style/vars";
@import "../../style/mixins";

.back-button {
  display: flex;
  align-items: center;

  font-family: $font-semibold;
  color: $color-secondary;

  &__image {
    margin-right: 4px;
  }

  &__caption {
    padding-top: 1.5px;
    font-size: 12px;
    line-height: 12px;

    &:hover {
      color: $color-primary;
    }
  }
}
