@import "../../style/vars";
@import "../../style/mixins";

.cart-page {
  @include product-page;

  &__back {
    margin-bottom: 16px;
  }

  &__title {
    @include title;

    margin-bottom: 24px;
  }

  &__content {
    display: flex;
  }

  &__cart-container {
    margin-right: 16px;
  }

  &__message {
    color: $color-primary;
    @include h2;
    text-align: center;
  }
}

.checkout {
  margin-bottom: 50px;
}
