@mixin link {
  position: relative;

  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  font-size: 12px;
  line-height: 11px;
  letter-spacing: 0.04em;

  transition: color $transition-time;

  &:hover {
    color: $color-primary;
  }
}

@mixin title {
  font-family: $font-bold;
  font-size: 32px;
  line-height: 41px;
  letter-spacing: -0.01em;
}

@mixin h2 {
  font-family: $font-bold;
  font-size: 22px;
  line-height: 31px;
}

@mixin caption {
  font-family: $font-semibold;
  font-size: 20px;
  line-height: 26px;
}

@mixin small-text {
  font-family: $font-semibold;
  font-size: 12px;
  line-height: 15px;
}

@mixin buttons {
  font-family: $font-semibold;
  font-size: 14px;
  line-height: 21px;
}

@mixin body-text {
  font-family: $font-regular;
  font-size: 14px;
  line-height: 21px;
}

@mixin product-page {
  max-width: $page-width;
  margin: 0 auto;
  padding: 24px 0 80px;
}

@mixin bread-crumbs {
  text-transform: capitalize;
  font-family: $font-semibold;
  font-size: 12px;
  line-height: 12px;
  padding-top: 2px;

  margin-right: 8px;
}
