$font-regular: "Mont Regular", sans-serif;
$font-semibold: "Mont Semibold", sans-serif;
$font-bold: "Mont Bold", sans-serif;

$color-primary: #313237;
$color-secondary: #89939a;
$color-icons: #b4bdc3;
$color-elements: #e2e6e9;
$color-bgc-and-hbr: #fafbfc;
$color-white: #fff;
$color-green: #27ae60;
$color-red: #eb5757;

$carousel-width: 1040px;
$page-width: 1136px;

$transition-time: 0.3s;

$card-width: 272px;
$header-height: 64px;
$footer-height: 96px;
