@import "../../style/vars";
@import "../../style/mixins";

.tech-specs {
  width: 512px;
  
  &__title {
    @include h2;
    margin-bottom: 16px;
  }

  &__line {
    border: none;
    background-color: $color-elements;
    height: 1px;

    margin-bottom: 25px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    @include body-text;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__property {
    color: $color-secondary;
    text-transform: capitalize;
  }

  &__value {
    color: $color-primary;
  }
}
