@import "../../style/vars";
@import "../../style/mixins";

.bread-crumbs{
  display: flex;
  align-items: center;

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__home {
    height: 16px;
    margin-right: 8px;
  }

  &__arrow {
    height: 16px;
    width: 16px;
    background-image: url("../../images/arrows/arrow-right--disabled.svg");
    margin-right: 8px;
  }

  &__caption {
    @include bread-crumbs;
    color: $color-secondary;
  }

  &__link {
    @include bread-crumbs;
    color: $color-primary;

    margin-right: 8px;
  }
}
