@import "../../style/vars";

.home-page {
  padding: 40px 152px 80px;

  &__carousel {
    max-width: $page-width;
    margin: 0 auto 72px;
  }

  &__hot-prices {
    max-width: $page-width;
    margin: 0 auto 80px;
  }

  &__categories {
    max-width: $page-width;
    margin: 0 auto 80px;
  }

  &__new-models {
    max-width: $page-width;
    margin: 0 auto;
  }
}
